@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

$primary-clr: #0600F4;
$dark: #010112;

body {
    font-family: 'Sora', sans-serif;
    color: $dark;
    cursor: url("../images/cursor.png");
}

a {
    text-decoration: none !important;
}

.btn {
    background-color: $primary-clr;
}

.announcement-bar {
    color: #262644;
    font-weight: 600;
    background: linear-gradient(51deg, rgb(255, 232, 240) 4%, rgb(220, 243, 254) 42%, rgb(208, 255, 247) 92%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding: 10px 10px;
    text-align: center;
    font-size: 0.9rem;
}

.main-navbar {
    background-color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 18px;
    box-shadow: 0px 10px 20px 0px rgba(20, 20, 20, 0.13);
    height: 72px;

    .full-length-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .navbar-left {
        display: flex;
        align-items: center;
    }

    .navbar-right {
        .navbar-nav {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 20px;

            a {
                &:hover {
                    font-weight: 600;
                    color: $primary-clr;
                }
            }
        }
    }
}


.hero-section {
    background: $dark;
    background-image: url("../images/hero-bg.svg");
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-search-form {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;

        .search-input {}
    }

    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;

        .content-center {}
    }

    h1 {
        font-size: 38px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .suggested-list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        .caption {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }

        a {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
        }
    }
}

.features-section {
    padding: 60px;

    h3 {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 8px;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
    }
}

.statistics {
    background: #F8F8F8;
    padding: 60px;


    .c-info-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c-title {
        font-size: 26px;
        font-weight: 700;
    }

    .c-stats {
        display: flex;
        justify-content: space-between;
        width: 30vw;

        .c-stat-list {
            .c-count {
                font-size: 48px;
                font-weight: 600;
            }

            .c-label {
                color: #7B7B7B;
                font-size: 20px;
            }
        }
    }
}

.donate {
    padding: 100px;

    p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

    .donate-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.subscription {

    .subscription-block {
        padding: 100px;
        border: 1px solid #B4B4B4;

        h3 {
            font-size: 34px;
            font-weight: 700;
            text-align: center;
        }

        p {
            font-size: 14px;
            text-align: center;
        }

        //     &::after{
        //         background-color: $primary-clr;
        //         border: .5px solid rgba(0,0,0,.25);
        //         box-shadow: 0 1px 2px rgba(0,0,0,.2);
        //         content: "";
        //         display: block;
        //         height: .5rem;
        //         position: absolute;
        //         width: .5rem;
        //         right: -0.25rem;
        //         top: -0.25rem;

        //     }
        //     &::before{
        //         background-color: $primary-clr;
        // border: 0.5px solid rgba(0,0,0,.25);
        // box-shadow: 0 1px 2px rgba(0,0,0,.2);
        // content: "";
        // display: block;
        // height: 0.5rem;
        // position: absolute;
        // width: 0.5rem;
        // left: -0.25rem;
        // top: -0.25rem;
        //     }

    }

    .subscripe-form {
        .form-control {
            padding: 1.375rem 1.75rem;
        }

        .btn-primary {
            min-width: 84px;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.request {
    background-color: #E8E8F5;
    padding: 100px 80px;

    h3 {
        font-size: 28px;
        color: #8E8E8E;

        a {
            color: $dark;
            text-decoration: underline !important;
        }
    }
}

.feature-grid {
    margin-top: 60px;

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;

        .feature-items {
            background-color: #F4F4F4;
            padding: 20px;
            border-radius: 10px;
        }
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 2;
    }

    .div2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div3 {
        grid-area: 4 / 1 / 6 / 2;
    }

    .div4 {
        grid-area: 1 / 2 / 2 / 3;
        padding: 20px;
        display: flex;
        align-items: center;
    }

    .div5 {
        grid-area: 5 / 2 / 6 / 3;
    }

    .div6 {
        grid-area: 2 / 2 / 5 / 3;
    }

    .div7 {
        grid-area: 1 / 3 / 4 / 4;
    }

    .div8 {
        grid-area: 4 / 3 / 6 / 4;
    }

    .f-logo {
        display: flex;
        justify-content: flex-start;
        align-items: end;

        img {
            width: 240px;
        }

        .f-logo-inner {
            padding: 30px;
        }
    }

    .div2,
    .div5 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .f-bold-number {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 24px 32px 12px 32px;

        h1 {
            font-size: 80px;
            font-weight: 700;
            background: linear-gradient(229deg, #FD9600, #FF0495 29.96%, #9A00FD 65.96%, #2301F5 84.93%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent
        }

        p {
            text-align: left;
            font-size: 20px;
            font-weight: 700;
        }
    }

    .colors {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 28px;

        h4 {
            font-size: 30px;
            font-weight: 700;
        }
    }

    .f-custom-icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 28px;

        h4 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
    }

    .figma {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 28px;

        img {
            width: 100px;
        }

        h4 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
    }
}